@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
	--clr-primary: #255f85;
	/* --clr-primary-light: rgb(37, 95, 133); */
	--clr-primary-light: rgb(38, 108, 155);
	--clr-accent: rgb(66, 172, 233);
	--clr-almost-white: rgba(204, 236, 255, 0.993);

	--clr-secondary: #58fcec;
	--clr-third: #ff7477;
	--clr-alternative-bg: #2c3d55;
	--clr-alternative-bg2: #364652;

	--clr-green-sheen: #64b6ac;
	--clr-celeste: #c0fdfb;
	--clr-space-crayola: #2b3d41;
	--clr-almost-white: #f3f4f5;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--clr-primary-light);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	width: 5px;
	background: var(--clr-accent);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(66, 172, 233, 0.555);
}

/*---------------------*/

html,
body {
	font-family: 'Poppins', 'sans-serif';
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-size: 16px;
}

h1 {
	font-size: 4em;
	text-align: center;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--clr-primary-light);
}

.project-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--clr-almost-white);
	color: var(--clr-space-crayola);
}

.project-info-content {
	padding-top: 10%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	width: 80%;
}

.project-info p {
	font-size: 1.3em;
	text-align: start;
}

svg {
	position: relative;
	bottom: 0;
}

.videos {
	width: 80%;
	background: var(--clr-primary-light);
	color: var(--clr-almost-white);
	display: flex;
	flex-direction: column;
	padding-bottom: 10%;
}

.video-container {
	display: flex;
}

.video-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;
}

.text-section {
	padding: 3rem;
	display: flex;
	align-items: center;
	flex-basis: 50%;
	font-size: 1.2em;
}

iframe {
	padding: 3.3rem;
	background-image: url('images/cell.png');
	background-size: cover;
	background-position: center;
}

@media (max-width: 1500px) {
	body {
		font-size: 14px;
	}

	iframe {
		height: 900px;
		padding: 4.5rem;
	}

	.text-section {
		padding: 1rem;
	}

	.project-info p {
		padding: 0 5vw;
	}

	.container {
		background-position: center;
		background-size: auto;
	}
}

@media (max-width: 1250px) {
	.video-container {
		flex-wrap: wrap;
	}

	.reverse-wrap {
		flex-wrap: wrap-reverse;
	}

	.video-section {
		flex-basis: 100%;
		width: 100%;
	}

	.text-section {
		flex-basis: 100%;
		text-align: start;
		padding: 0 5vw;
	}

	.container {
		background-image: none;
	}
}

@media (max-width: 750px) {
	body {
		font-size: 12px;
	}

	.project-info p {
		font-size: 1.3em;
	}

	.text-section {
		flex-basis: 100%;
		text-align: left;
	}

	iframe {
		height: 650px;
		padding: 6.3rem;
	}

	.videos {
		width: 90%;
	}

	.project-info-content {
		width: 90%;
	}
}

@media (max-width: 450px) {
	body {
		font-size: 12px;
	}

	.project-info p {
		font-size: 1.3em;
	}

	.text-section {
		flex-basis: 100%;
		text-align: left;
	}

	iframe {
		height: 550px;
		padding: 5.3rem;
	}
}
